@import "common/index";
@import "components/index";
@import "fonts";

html {
  font-family: "Lato", sans-serif;
}

body, html, #app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  background: $color-background;
}

#app {
  position: relative;
  display: flex;
}
