<template>
  <div class="component-grid">
    <component v-for="service in services" :key="service" v-bind:is="getComponent(service)" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { AppModule, UserModule } from '@/store';
import Card from '@/vue/components/Card.vue';
import ToonComponent from '@/vue/modules/ToonComponent.vue';

@Component({
  components: { Card, ToonComponent },
})
export default class ComponentGrid extends Vue {
  get services () {
    return UserModule.services;
  }

  getComponent (service: string) {
    switch (service) {
      case 'TOON':
        return 'ToonComponent';
      default:
        return null;
    }
  }

  mounted () {
    AppModule.start();
  }
}
</script>
