<template>
  <div class="login">
    <Card>
      <form @submit.prevent="onSubmit">
        <label v-if="creating">
          <input v-model="username" autocomplete="email" type="email">
          <span>Username</span>
        </label>
        <label>
          <input v-model="email" autocomplete="email" type="email">
          <span>Email</span>
        </label>
        <label>
          <input v-model="password" autocomplete="current-password" type="password">
          <span>Password</span>
        </label>
        <label v-if="creating">
          <input v-model="extraPassword" autocomplete="current-password" type="password">
          <span>Repeat Password</span>
        </label>
        <template v-if="!creating">
          <button>Login</button>
          <button @click="creating = true" class="simple">Create account</button>
        </template>
        <template v-else>
          <button>Create</button>
          <button @click="creating = false" class="simple">Back to login</button>
        </template>
      </form>
    </Card>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import { Optional } from '@/models/Types';
import { UserModule } from '@/store';

@Component({
  components: { Card },
})
export default class ComponentGrid extends Vue {
  private failed: boolean = false;
  private username: Optional<string> = null;
  private email: Optional<string> = null;
  private password: Optional<string> = null;
  private extraPassword: Optional<string> = null;
  private creating: boolean = false;

  async onSubmit () {
    if (!this.email || !this.password) {
      return;
    }
    try {
      if (this.creating) {
        if (this.password !== this.extraPassword || !this.username) {
          return;
        }
        await UserModule.register({ email: this.email, password: this.password, username: this.username });
      } else {
        await UserModule.authorize({ email: this.email, password: this.password });
      }
      this.failed = false;
    } catch (e) {
      this.failed = true;
    } finally {
      // TODO spinner;
    }
  }
}
</script>
<style lang="scss">
@import "../../assets/scss/common/index";

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    display: flex;
  }
}
</style>
