<template>
  <div class="component-grid">
    <AddServiceComponent />
    <button @click="logout">Logout</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import AddServiceComponent from '@/vue/modules/AddServiceComponent.vue';
import { UserModule } from '@/store';

@Component({
  components: { AddServiceComponent, Card },
})
export default class SettingsView extends Vue {
  logout () {
    UserModule.logout();
  }
}
</script>
<style lang="scss">
@import "../../assets/scss/common/index";

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;

  }
}
</style>
