<template>
  <label>
    <input :autocomplete="autocomplete" :type="type" @input="$emit('input', $event)">
    <span v-text="placeholder" />
  </label>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Optional } from '@/models/Types';

@Component
export default class Input extends Vue {
  @Prop({ default: 'text' })
  type!: string;
  @Prop({ required: true })
  placeholder!: string;
  @Prop({ default: null })
  autocomplete!: Optional<string>;
  @Prop({ required: true })
  value!: string;
}
</script>
