<template>
  <canvas ref="canvas" class="power-chart" style="border-radius: 6px" />
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import { ChartData, Optional } from '@/models/Types';
import { Chart } from 'chart.js';
import { isEmpty } from 'ramda';

@Component
export default class PowerChart extends Vue {
  @Prop({ default: () => [], type: Array })
  data!: ChartData[];
  private chart: Optional<Chart> = null;

  get canvas () {
    const canvas = this.$refs.canvas;
    return (canvas as HTMLCanvasElement);
  }

  @Watch('data')
  watchData (newValue: ChartData[]) {
    if (isEmpty(newValue) || !this.chart || !this.chart.data || !this.chart.data.datasets) return;
    this.chart.data.datasets[0].data = newValue;
    this.chart.update();
  }

  mounted () {
    if (!this.canvas) return;
    const options: Chart.ChartConfiguration = {
      type: 'line',
      data: {
        datasets: [
          {
            data: this.data,
            pointRadius: 0,
            backgroundColor: 'rgba(255, 156, 0, 0.5)',
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            type: 'time',
            // time: {
            //   unit: 'minute',
            // },
            display: false,
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
            display: false,
          }],
        },
      },
    };
    this.chart = new Chart(this.canvas, options);
    this.chart.resize();
  }
}
</script>
