<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1, shrink-to-fit=no" name="viewport">
    <meta name="author" content="Stefan Breetveld">
    <link rel="icon" href="<%= BASE_URL %>/favicon.ico">
    <title>Home Dashboard</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!--    <link href="https://fonts.googleapis.com/css?family=Caladea&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caladea|Lato|Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but home dashboard doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
