<template>
  <Card class="add-service" v-if="service">
    <!--    <b-form-select v-model="service" :options="options" />-->
    <form @submit.prevent="submit">
      <label>
        <select v-model="service">
          <option v-for="option of options" :key="option" :value="option">
            {{option}}
          </option>
        </select>
        <span>Service</span>
      </label>
      <button type="submit">Add {{ service }} to your known services.</button>
      <!-- TODO ADD DISCLAIMER WHEN ADDING SERVICE -->
    </form>
  </Card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import { Services } from '@/constants/Services';
import { UserModule } from '@/store';
import { Optional } from '@/models/Types';

@Component({
  components: { Card },
})
export default class AddServiceComponent extends Vue {
  service: Optional<string> = this.options[0] || null;

  get currentServices () {
    return UserModule.services;
  }

  get options () {
    return Services.filter(s => !this.currentServices.includes(s));
  }

  submit () {
    console.log(this.currentServices, this.options);
    if (!this.service) return;
    UserModule.addService({ service: this.service });
  }
}
</script>
<style lang="scss">
@import "src/assets/scss/common/index";

.add-service {
  display: flex;
  flex-direction: column;

  select {
    width: 100%;
  }
}
</style>
