<template>
  <Card class="toon">
    <div style="position: absolute; top: 50%; left: 0; right: 0; bottom: 0;">
      <div
        style="position: relative; width: 100%; width: -webkit-fill-available; height: 100%; height: -webkit-fill-available;"
      >
        <Chart :data="chartData" />
      </div>
    </div>
    <div class="temperature" style="z-index: 10;">
      <span class="current-temp">{{ toTemperature(currentTemp) }}&deg;</span>
      <div>
        <span class="target-temp">{{ toTemperature(targetTemp) }}&deg;</span>
        <div class="button-bar">
          <button @click="reduceTemperature" class="simple icon-button">-</button>
          <button @click="increaseTemperature" class="simple icon-button">+</button>
        </div>
      </div>
    </div>
    <div class="usage" style="z-index: 10;">
      <span class="current-watt">{{ currentPower }}W</span><br />
      <span class="current-gas">{{ dailyGas }}M<sup>3</sup></span>
    </div>
  </Card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Card from '@/vue/components/Card.vue';
import { ToonModule } from '@/store';
import { ThermostatInfo } from '@/models/ToonResponseModels';
import PowerChart from '@/vue/components/PowerChart.vue';
import { ChartData } from '@/models/Types';

@Component({
  components: { Chart: PowerChart, Card },
})
export default class ToonComponent extends Vue {
  get status () {
    return ToonModule.status;
  }

  get currentTemp () {
    return this.status?.thermostatInfo?.currentDisplayTemp || 0;
  }

  get targetTemp () {
    return this.status?.thermostatInfo?.currentSetpoint || 0;
  }

  get currentPower () {
    return this.status?.powerUsage?.value || 0;
  }

  get dailyGas () {
    return this.status?.gasUsage?.dayUsage || 0;
  }

  get chartData (): ChartData[] {
    return ToonModule.powerHistory.map(a => ({ x: a.time, y: a.value }));
  }

  toTemperature (temp: number = 0) {
    if (temp === 0) return '0.0';
    const t = temp / 100;
    return t.toFixed(1);
  }

  changeTemperature (temp: number) {
    const obj: ThermostatInfo = Object.assign({}, this.status?.thermostatInfo);
    obj.currentSetpoint = temp;
    ToonModule.updateTemperature(obj);
  }

  reduceTemperature () {
    this.changeTemperature(this.targetTemp - 50);
  }

  increaseTemperature () {
    this.changeTemperature(this.targetTemp + 50);
  }
}
</script>
<style lang="scss">
@import "src/assets/scss/common/index";

.toon {
  display: flex;
  flex-direction: column;
  max-height: 30vh;

  .temperature {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;

    .current-temp {
      font-size: 7vw;
    }

    .target-temp {
      font-size: 4vw;
      padding-left: .5vw;
    }
  }

  .usage {
    flex: 1 1 auto;
  }
}
</style>
