<template>
  <div id="app">
    <LoginView v-if="!isLoggedIn" />
    <SettingsView v-else-if="showSettings" />
    <ComponentGrid v-else />

    <button v-if="isLoggedIn" id="settings" @click="showSettings = !showSettings">Settings</button>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ComponentGrid from '@/vue/views/ComponentGrid.vue';
import LoginView from '@/vue/views/LoginView.vue';
import { UserModule } from '@/store';
import SettingsView from '@/vue/views/SettingsView.vue';

@Component({
  components: { SettingsView, LoginView, ComponentGrid },
})
export default class App extends Vue {
  private serviceDetector = /\/(\w+?)\/callback\?.*code=(.*?)(?:&|$)/;
  private showSettings: boolean = false;

  get isLoggedIn () {
    return UserModule.loggedIn;
  }

  mounted () {
    const string = window.location.href;
    if (this.serviceDetector.test(string)) {
      const regex = string.match(this.serviceDetector);
      if (!regex) return;
      const replacement = `${window.location.protocol}//${window.location.host}${window.location.pathname}`;
      window.history.replaceState(window.history.state, '', replacement);
      UserModule.addService({ service: regex[1].toUpperCase(), code: regex[2] });
    }
  }
}
</script>
<style lang="scss">
button#settings {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
}
</style>
